@page
@model OldFashionShop_PRN221_GroupProject.Pages.Products.CartModel

<div class="main-banner" id="top">
    <div class="container">
        <h3>Cart Info</h3>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            <tr>Final Amount</tr>
            @foreach (var item in Model.Cart)
            {
                var finalAmount = 0;
                finalAmount = finalAmount + (int)item.Total;
                <tr>
                    <td>@item.Product.ProductName</td>
                    <td>@item.Product.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.Total</td>
                </tr>
                <tr>
                    <td>@finalAmount</td>
                </tr>
            }
        </table>
        <br />
        <a asp-page="Index">Continute Shopping</a>
    </div>
</div>