@page
@model OldFashionShop_PRN221_GroupProject.Pages.Products.IndexModel


<style>
    .drop:not(.collapsed) svg {
        transform: rotate(180deg);
    }

    hr {
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .form-control {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid black;
    }

    .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid black;
        box-shadow: 0 1px 0 0 black;
    }

    .active-cyan input.form-control[type=text] {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid black;
        box-shadow: 0 1px 0 0 black;
    }

    .search {
        position: relative;
    }

    .search-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
        transform: translateY(50%);
    }

    .search-btn {
        text-decoration: none;
        color: inherit;
        opacity: 0.7;
    }

        .search-btn:hover {
            text-decoration: none;
            color: inherit;
            opacity: 1;
        }
</style>
<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Check Our Products</h2>
                    <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading my-5">
                    <h2>Our Latest Products</h2>
                    <span>Check out all of our products.</span>
                </div>
            </div>
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4 mb-4">
                <div class="md-form active-cyan-2 mb-3 d-flex align-items-center justify-content-between">
                    <input class="form-control search" type="text" placeholder="Search name of item" aria-label="Search">
                    <a href="#" class="search-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search search-icon" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" /> </svg>
                    </a>
                </div>
            </div>


        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                <div>
                    <form class="form-inline">
                        <button type="button" class="btn btn-dark w-100">Apply filter</button>

                        <div class="w-100 mt-4">
                            <div class="w-100 d-flex justify-content-between drop" data-toggle="collapse" data-target='#collapsediv1'>
                                <span class="mb-2">Category</span>
                                <span class="key-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" /> </svg>
                                </span>

                            </div>
                            <div id='collapsediv1' class='collapse div1 show'>
                                <div class="mb-1 d-flex align-items-center">
                                    <input type="checkbox" class="mr-2" />
                                    <span>Dan ong</span>
                                </div>
                                <div class="mb-1 d-flex align-items-center">
                                    <input type="checkbox" class="mr-2" />
                                    <span>Dan ba</span>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <div class="w-100 mt-2">
                            <div class="w-100 d-flex justify-content-between drop" data-toggle="collapse" data-target='#collapsediv2'>
                                <span class="mb-2">Price</span>
                                <span class="key-down"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" /> </svg></span>
                            </div>
                            <div id='collapsediv2' class='collapse div2 show'>
                                <div class="mb-1 d-flex align-items-center">
                                    <input type="checkbox" class="mr-2" />
                                    <span>Under 100$</span>
                                </div>
                                <div class="mb-1 d-flex align-items-center">
                                    <input type="checkbox" class="mr-2" />
                                    <span>101$ - 200$</span>
                                </div>
                                <div class="mb-1 d-flex align-items-center">
                                    <input type="checkbox" class="mr-2" />
                                    <span>201$ - 400$</span>
                                </div>
                                <div class="mb-1 d-flex align-items-center">
                                    <input type="checkbox" class="mr-2" />
                                    <span>Over 400$</span>
                                </div>
                            </div>
                        </div>

                        <hr />

                    </form>


                    @*search titlte, fullname
                    categoryId,
                    title,
                    discount*@
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var item in Model.Product)
                    {
                        <div class="col-lg-4">
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a asp-page="/Products/Details" asp-route-id="@item.ProductId"><i class="fa fa-eye"></i></a></li>
                                            <li><a asp-page="/Products/Details" asp-route-id="@item.ProductId"><i class="fa fa-star"></i></a></li>
                                            <li><a asp-page="/Products/Cart" asp-page-handler="buy" asp-route-id="@item.ProductId" asp-route-quantity=1><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="@item.Thumb" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>@item.ProductName</h4>
                                    <span>$@item.Price</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pagination">
                    <ul>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->
<script>
    //const e1 = document.getElementById("collapsediv1");
    //if (e1.classList.contains("show")) {
    //    for (let el of document.querySelectorAll('.key-up')) el.style.display = 'block';
    //    for (let el of document.querySelectorAll('.key-down')) el.style.display = 'none';
    //}
    //else {
    //    for (let el of document.querySelectorAll('.key-down')) el.style.display = 'none';
    //    for (let el of document.querySelectorAll('.key-up')) el.style.display = 'block';
    //}
</script>